* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-up {
    height: 50px;
    background-color: black;
}

.navbar {
    color: black;
}

.logo-sony {
    width: 75px;
}

.jumbotron {
    padding: 250px 0 50px 0;
    background-image: url(../img/img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.it-take-two {
    padding: 250px 0 50px 0;
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.bg-avengers {
    background-color: #161c3b;
}


.box-jumbo {
    width: 200px;
    height: 150px;
    background-size: auto;
    border-radius: 50px;
}

.img-down-jumbo {
    background-size: cover;
    border-radius: 50px;
}

.bg-footer {
    background-color: #00439c;
}

.img-play-logo {
    
}

/* .returnal-fase {
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: auto;
} */


