* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header-up {
    height: 50px;
    background-color: black;
}

.logo-sony {
    width: 75px;
}


/* navbar */

#navbarScrollingDropdown{
    color: black;
}

/* jumbotron */

.jumbotron {
    padding: 250px 0 50px 0;
    background-image: url(../img/img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.box-jumbo {
    width: 200px;
    height: 150px;
    background-size: auto;
    border-radius: 50px;
    position: relative;
}

.img-down-jumbo {
    background-size: cover;
    border-radius: 20px;
}

.img-down-jumbo:hover {
    cursor: pointer;
    padding: 3px;
    border: 3px solid #4d9cdc;
    position: absolute;
    bottom: 10px;
}

/* end jumbotron */

/* accessori play 5 */

.img-down-accessori {
    background-size: cover;
    border-radius: 20px;
}


.box-accessori {
    width: 200px;
    height: 150px;
    background-size: auto;
    position: relative;
}

.accessori-play5 {
    filter: grayscale(100%);
}

.accessori-play5:hover {
    cursor: pointer;
    filter: none;
    margin-bottom: 20px;
    border-bottom: 3px solid #4d9cdc;

}

/* end accessori play 5 */
.it-take-two {
    padding: 250px 0 50px 0;
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;

}



.bg-avengers {
    background-color: #161c3b;
}






.bg-footer {
    background-color: #00439c;
}

.img-play-logo {
    
}

/* .returnal-fase {
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: auto;
} */


